.container
  = form_for [:admin, @restaurant, @item] do |f|
    %ul
      - @item.errors.full_messages.each do |error|
        %li= error
    %p
      = f.label :title
      %br/
      = f.text_field :title
    %p
      = f.label :description
      %br/
      = f.text_area :description
    %p
      = f.label :price
      %br/
      = f.text_field :price
    %p
      %img{src: "#{@item.image_file_name}", width: "242", height: "242"}
      %br/
      = f.file_field :image
    %p
      = f.submit

%h2 Categories:
-@item.categories.each do |category|
  %h2= category.name
  %h4= link_to "Remove Category", admin_categorization_path(@item.categorizations.find_by(category_id: category.id)), method: :delete

%h2 Add to Category:
-(@restaurant.categories - @item.categories).each do |category|
  %h2= link_to category.name, admin_categorizations_path(item: @item, category: category), method: :post
