%button.all
  All (#{ @orders.count })
%button.paid
  Paid (#{ @orders.with_paid_state.count })
%button.ready_for_prep
  Ready for Preparation (#{ @orders.with_ready_for_prep_state.count })
%button.cancelled
  Cancelled (#{ @orders.with_cancelled_state.count })
%button.in_preparation
  In Preparation (#{ @orders.with_in_preparation_state.count })
%button.ready_for_delivery
  Ready for Delivery (#{ @orders.with_ready_for_delivery_state.count })
%button.out_for_delivery
  Out for Delivery (#{ @orders.with_out_for_delivery_state.count })
%button.delivered
  Delivered (#{ @orders.with_delivered_state.count })
