%button.all
  All (#{ @orders.count })
%button.paid
  Paid (#{ Order.with_paid_state.select { |order| order.restaurant_id == @restaurant.id }.count })
%button.ready_for_prep
  Ready for Preparation (#{ Order.with_ready_for_prep_state.select { |order| order.restaurant_id == @restaurant.id }.count })
%button.cancelled
  Cancelled (#{ Order.with_cancelled_state.select { |order| order.restaurant_id == @restaurant.id }.count })
%button.in_preparation
  In Preparation (#{ Order.with_in_preparation_state.select { |order| order.restaurant_id == @restaurant.id }.count })
%button.ready_for_delivery
  Ready for Delivery (#{ Order.with_ready_for_delivery_state.select { |order| order.restaurant_id == @restaurant.id }.count })
%button.out_for_delivery
  Out for Delivery (#{ Order.with_out_for_delivery_state.select { |order| order.restaurant_id == @restaurant.id }.count })
%button.delivered
  Delivered (#{ Order.with_delivered_state.select { |order| order.restaurant_id == @restaurant.id }.count })
