.container
  = flash[:success]
  %h3= "Hello, #{current_user.first_name.capitalize}!"
  %h3 Your Info
  %h5= current_user.name
  %h5= current_user.email

  - if signed_in?
    = link_to("Create New Restaurant", new_restaurant_path)
  = render partial: 'users/previous_orders'
