.container
  .row
    .col-lg-6.col-lg-offset-3
      = flash[:success]
      %h1= "Hello, #{current_user.first_name.capitalize}!"
      %br
      %h2 Your Info
      %h3= "Name: #{current_user.name}"
      %h3= "Email: #{current_user.email}"
      .col-sm-6.col-md-4
      %br
      = link_to "Create A Restaurant", new_restaurant_path, class: "thumbnail-btn btn btn-primary"

-if current_user.roles.pluck("title").include?("cook")
  .row
  .col-md-offset-3
    .col-md-6
    %table.table
      %thead
      %tr.text-center
        %th Id
        %th Next State
        %th Current State
      -@orders.each do |order|
        %tr
          %td= "#{order.id} "
          %td= link_to("Begin Preparation ", cook_path(order), method: :put)
          %td= " #{order.current_state}"
    .col-md-3
