.container
  .panel.panel-default
    %h1.panel-heading Your Order Summary
    .panel-body
      -@orders.each do |order|
        %h2= order.restaurant.name
        %h3= "Order Status: #{order.current_state}"
        %table.table.table-striped
          %thead
            %tr
              %th Title
              %th Description
              %th Price
              %th Quantity
              %th Item Subtotal
          %tbody
          -order.items_with_quantity.each do |item, quantity|
            %tr
              %td #{item.title}
              %td #{item.description}
              %td $#{item.price_for_humans}
              %td #{quantity}
              %td #{number_to_currency((item.price * quantity).to_f / 100)}
    #order-total
      %h3.text-muted.pull-right= "Order Subtotal: #{number_to_currency(orders_grand_total)}"
