.container
  .panel.panel-default
    %h1.panel-heading Your Order
    .panel-body
      -@cart.sort_orders.each do |restaurant_id, order_items|
        %h2= Restaurant.find(restaurant_id).name
        %table.table.table-striped
          %thead
            %tr
              %th Title
              %th Description
              %th Price
              %th Quantity
              %th Item Subtotal
          %tbody
          -order_items.each do |item, quantity|
            %tr
              %td #{item.title}
              %td #{item.description}
              %td $#{item.price_for_humans}
              %td #{quantity}
              %td #{number_to_currency((item.price * quantity).to_f / 100)}
    #order-total
      %h3.text-muted.pull-right= "Order Subtotal: $#{@cart.total_price}"
 
.container
  .row.pull-right
    %ul.nav.nav-pills
      %li.active
        = button_to "Confirm Checkout", orders_path
