.container
  .row.col-lg-6.col-lg-offset-3
  = form_for [:admin, @restaurant, @category] do |f|
    %ul
      - @category.errors.full_messages.each do |error|
        %li= error
    %p
      = f.label :name
      %br/
      = f.text_field :name
    %p
      = f.submit
